body {
  background-image: url('./assets/flag.png');
  background-repeat: no-repeat;
  background-size: 180px;
}

.header {
  display: flex;
  justify-content: center;
}

.spacer {
  min-width: 100px;
}

.index-links-wrapper ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.index-links-wrapper li {
  text-align: center;
}