body {
  background-image: url('./assets/flag.png');
  background-repeat: no-repeat;
  background-size: 180px;
}

.spacer {
  min-width: 100px;
}

.index-links-wrapper ul {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.index-links-wrapper li {
  text-align: center;
}

.index-links-wrapper li > a {
  color: var(--pure-white);
  border-radius: 8px;
  background-color: var(--vivid-red);
  padding: 12px 16px;
  font-size: 1rem;
  font-weight: 700;
}