#root {
  --light-blue: hsl(203, 95%, 57%);
  --medium-blue: hsl(215, 90%, 60%);
  --dark-blue: hsl(216, 60%, 34%);
}

html, body {
  height: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
