.alphabet-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  align-items: center;
  width: 70vw;
  
}

button.letter {
  --letter-box-size: 3.6rem;
  width: var(--letter-box-size);
  height: var(--letter-box-size);
  font-size: 1.5rem;
  color: var(--pure-white);
  font-weight: 700;
  border: none;
  background-color: var(--light-blue);
  box-shadow: 3px 3px 10px 3px var(--gray-80),
              2px 2px 4px 1px var(--gray-60);
}

button.letter:active {
  box-shadow: 3px 3px 10px 3px var(--gray-80),
              1px 1px 2px 1px var(--gray-60);
}

@media (max-width: 600px) {
  .alphabet-wrapper {
    width: 90vw;
  }

  .letter {
    font-size: 1rem;
    padding: 12px 20px;
  }
}